body {
  font-family: Arial, Verdana, sans-serif;
  margin: 0;
}

img {
  width: 100%;
}

.image-container {
  height: 100vh;
  overflow: hidden;
}

#menu-icon {
  font-size: 24px;
  display: block;
  position: absolute;
  top: 0;
  left: 0;
  padding: 10px;
  cursor: pointer;
  color: #fff;
  text-shadow: 2px 2px #000;
}

#close-icon {
  font-size: 24px;
  text-align: right;
  cursor: pointer;
}

#menu {
  display: block;
  width: 120px;
  position: absolute;
  top: 0;
  left: -150px;
  padding: 10px;
  background-color: #fff;
  transition: left 0.33s linear;
}

.menu-item {
  padding: 5px 0;
  cursor: pointer;
}

.menu-item:hover {
  color: #888;
}

.menu-item + .menu-item {
  border-top: 1px solid #000;
}
